
body {
    background-color: rgba(244, 244, 244, 1);
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("./media/header.jpg") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    color: rgba(41, 26, 55, 1);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px auto;
}

h1 {
    color: rgba(244, 244, 244, 1);
    font-size: 100px;
    font-weight: 200;
    border: 1px solid;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-weight: 100;
}

hr {
    background-color: rgba(244, 244, 244, 0.4); 
    height: 1px; 
    border: 0;
    margin-left: 30px;
    margin-right: 30px;
}

li {
    list-style-type: none;
    font-weight: 300;
    text-align: justify;
}

li::before {
    content: "\f094";
    font-family: 'FontAwesome';
    font-size: 150%;
    padding: 10px;
    opacity: 0.5;
}

.grid-container {
    display: grid;
    grid-template-areas: "header header header header header header"
            ". . menu menu . ."
            ". . contentUp contentUp . ."
            ". . contentDown contentDown . ."
            ". . content-container content-container . ."
            "footer footer footer footer footer footer";
    grid-gap: 0px;
    grid-template-columns: repeat(6, 1fr);
}

.grid-container > div {
    color: rgba(41, 26, 55, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 243, 166, 0.4);
}


.header {
    grid-area: header;
    text-align: center;
    font-size: 32px;
}

.menu {
    grid-area: menu;
    font-size: 18px;
    text-align: center;
    padding: 12px;
}

.menu a {
    background-color: rgba(244, 244, 244, 1);
    color: rgba(41, 26, 55, 1);
    border: 1px, solid;
    padding: 10px;
    display: block;
}

.menu a:hover {
    background-color: rgba(206, 233, 42, 1);
}

/* content-container -> displays content on other pages */
.content-container {
    grid-area: content-container;
}

.dropdown::after {
    content: "\f0c9";
    font-family: 'FontAwesome';
    font-size: 200%;
    padding: 20px;
    opacity: 0.7;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    padding-top: 50px;
}

.show {
    display:block;
}


.contentUp {
    grid-area: contentUp;
    font-size: 18px;
    padding-left: 20px;
    display: inline-block;
    
}

.contentDown {
    grid-area: contentDown;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding: 30px;
    font-size: 14px;
    font-weight: 300;

}

/* Other styles */
.form {
    display: grid;
    text-align: center;
    margin:0 auto;
    display:block;
    text-align:center; 
}

#itemsNum {
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    border: 1px solid ;
    border-color: rgba(244, 244, 244, 1);
    border-radius: 45px;
    background-color: rgba(244, 244, 244, 0.4);
}

.cbgrid {
    display: grid;
    text-align: center;
    margin:0 auto;
}

#fruits,
#vegetables,
#extras,
#liquids {
    display: block;
    margin-left: 35%;
    text-align: left;
}

.checkbox {
    -webkit-appearance: none;
    border: 1px solid ;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    position: relative;
    margin-top: 10px;
}

.checkbox:active, .checkbox:checked {
    background-color: rgba(255, 215, 69, 1);
}

.checkbox:disabled {
    background-color: rgba(255, 215, 69, 0.6);
}

.checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
}

.button {
    padding: 10px;
    border-radius: 45px;
    background-color: rgba(255, 215, 69, 1);
    border: 1px solid ;
    border-color: rgba(244, 244, 244, 1);
    margin:20px auto;
    display:block;
    text-align:center; 
}

.button:hover {
    background-color: rgba(206, 233, 42, 1);
}

#microTxt {
    font-size: 15px;
    text-align: left;
    padding-top: 1px;
    font-weight: 400;
}

.errorMsg {
    background-color: rgba(242, 28, 28, 0.5);
    color: rgba(244, 244, 244, 1);
    padding: 20px;
    margin: 10px auto;
    max-width: 400px;
    align-items: center;
    text-align: center;
}

.closeBtn {
    float: right;
}

.closeBtn:hover {
    color: black;
}

.recipe {
    border: 1px solid;
    border-color: rgba(244, 244, 244, 1);
    text-align: justify;
    margin: 20px auto;
}
